.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.input-box{
  height: 500px;
  width: 400px;
  border-radius: 20px;
  margin: auto;
  border: solid 1px #fff1;
  background-color: #fff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.filetti-option-container{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
  align-self: center;
}
.filetti-option-container input{
  width: 50px;
  padding: 0;
}

.input-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
}

input{
  width: 200px;
  padding: 8px;
  border-radius: 7px;
  text-align: center;
}
button{
  width: 200px;
  padding: 8px;
  border-radius: 7px;
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--textColor);
  outline: none;
  border: solid 1px;
}
button:hover{
  background-color: var(--textColor);
  color: black;
}

h4{
  align-self: center;
}

textarea{
  height: 500px;
  width: 400px;
  background-color: #fff1;
  color: var(--textColor);
  border-radius: 20px;
  border: solid 1px #fff1;
  padding-top: 20px;
}

.radio-generated{
  display: flex;
  justify-content: center;
}