div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 300px;
  background-color: #0005;
  border: solid 1px #fff2;
}

div ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#home{
 
  padding: 10px;
  border-radius: 10px;
  border-bottom: solid 3px var(--secondary)
}

li{
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff1;
}

a{
  text-decoration: none;
  color: var(--textColor);

}

a:hover{
  color: var(--secondary);
}

img{
  height: 40px;
  width: 40px;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

