<div>
  <h2 class="logo">HBS APP</h2>
  <ul>
    <li id="home" [ngStyle]= "{'border-bottom': active1 ? 'solid 3px var(--secondary)' : 'none' }"><a  [routerLink]="['']" (click)= "selector('home')">Home</a></li>
    <li [ngStyle]= "{'border-bottom': active2 ? 'solid 3px var(--secondary)' : 'none' }"><a  [routerLink]="['/interpolazione']" (click)= "selector('interpolazione')">Interpolazione</a></li>
    <li [ngStyle]= "{'border-bottom': active3 ? 'solid 3px var(--secondary)' : 'none' }"><a  [routerLink]="['/interpolazione-incrementale']" (click)= "selector('interpolazione-incrementale')">Interpolazione (incrementale)</a></li>
    <li [ngStyle]= "{'border-bottom': active4 ? 'solid 3px var(--secondary)' : 'none' }"><a [routerLink]="['/filetti']" (click)= "selector('filetti')">Filetti</a></li>
    <li [ngStyle]= "{'border-bottom': active5 ? 'solid 3px var(--secondary)' : 'none' }"><a [routerLink]="['/asole']" (click)= "selector('asole')">Asole</a></li>
    <li [ngStyle]= "{'border-bottom': active6? 'solid 3px var(--secondary)' : 'none' }"><a  [routerLink]="['/lista-utensile']" (click)= "selector('lista-utensile')">Lista utensile</a></li>
  </ul>
</div>
